* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  color: #333;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Lato', sans-serif;
  background: #f6f6f6;
  margin: 0;
}
component {
  display: block;
}
header {
  background: #222;
  padding: 12px;
  color: #fff;
}
label {
  display: block;
  margin-top: 20px;
}
input {
  display: block;
  width: 100%;
  padding: 6px;
  padding: 8px;
  border-radius: 3px;
  border: none;
  color: #444;
}
button {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 15px;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  border-style: none;
  background: #fff;
}
#screenLayer {
  overflow-y: scroll;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
component[name=app] {
  max-width: 800px;
  margin: 0 auto;
}
.fade-fadein-3c-V0 {
  animation: fadein 250ms ease-out both;
}
.fade-fadeout-3E8pi {
  animation: fadeout 170ms ease-out both;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.link-link-30G3W {
  color: #eee;
  display: inline-block;
  margin-right: 10px;
  text-decoration: initial;
  padding: 4px 0;
  font-size: 1.2rem;
}
.link-active-LUcc- {
  border-bottom: 2px solid #fff;
  padding-bottom: 1px;
  color: #fff;
}
component[name=blue] {
  background: #93d4f5;
  padding: 12px;
  min-height: 400px;
}
.blue-increment-3iUag {
  margin-top: 20px;
  margin-bottom: 20px;
}
.blue-increment-3iUag > * {
  margin-right: 10px;
}
.slideDown-slideDown-3BiP5 {
  animation: slideDown 300ms ease-out both;
}
@-moz-keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
component[name=green] {
  background: #00a072;
  margin-top: 12px;
  padding: 18px 8px;
  color: #eee;
  border-radius: 3px;
}
.green-input-5eg1C {
  margin-top: 6px;
  padding: 10px;
}
.green-popupButton-Ajq6P {
  margin-top: 30px;
}
.list-list-3-_up {
  list-style: none;
  padding-left: 0;
}
.list-list-3-_up li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.list-list-3-_up li > span {
  width: 10px;
  margin-right: 20px;
}
.list-list-3-_up li > input {
  flex: 1;
  padding: 4px;
}
.list-list-3-_up li > button {
  margin-top: 0;
  margin-left: 20px;
}
.icon-icon-3r0Lq {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  color: inherit;
  fill: currentColor;
}
.popup-overlay-2_aAp {
  position: fixed;
  text-align: center;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  padding-bottom: 40px;
}
.popup-popup-2rIS8 {
  display: inline-block;
  width: 300px;
  margin-top: 40px;
  text-align: left;
  padding: 20px;
  border-radius: 4px;
  background: #ffc0cb;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  transform: translateZ(0);
}
.popup-insertAnimation-p2776 {
  animation: popupInsertAnimation 300ms ease-out both;
}
.popup-removeAnimation-34fmA {
  animation: overlayRemoveAnimation 140ms ease-out both;
}
@-moz-keyframes popupInsertAnimation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes popupInsertAnimation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes popupInsertAnimation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popupInsertAnimation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes overlayRemoveAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes overlayRemoveAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes overlayRemoveAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes overlayRemoveAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.button-icon-2UP4I {
  margin-right: 10px;
}
.fadeScale-fadeScaleIn-AohB7 {
  animation: fadeScaleIn 200ms ease-out both;
}
.fadeScale-fadeScaleOut-1CU8l {
  animation: fadeScaleOut 200ms ease-out both;
}
@-moz-keyframes fadeScaleIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeScaleIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeScaleIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeScaleIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeScaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}
@-webkit-keyframes fadeScaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}
@-o-keyframes fadeScaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}
@keyframes fadeScaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}
.red-red-2BgdA {
  background: #eb6e7b;
  margin-top: 12px;
  padding: 18px 8px;
  color: #eee;
  border-radius: 3px;
}
component[name=select] {
  position: relative;
}
.select-dropdown-2PBt2 {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 16px;
  background: #fff;
  border-radius: 3px;
  list-style: none;
  padding: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.select-li-gWjPG {
  width: 100%;
  color: #444;
  padding: 4px;
  cursor: default;
}
.select-li-gWjPG:hover {
  background: #f0f0f0;
}
.select-scroller-BIHkj {
  max-height: 200px;
  overflow-y: auto;
}
.select-loaderContainer-2OUFf {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-insertAnimation-35zh- {
  animation: selectInsertAnimation 200ms ease-out both;
}
.select-removeAnimation-1HR6Z {
  animation: selectRemoveAnimation 150ms ease-out both;
}
@-moz-keyframes selectInsertAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes selectInsertAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes selectInsertAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes selectInsertAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes selectRemoveAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@-webkit-keyframes selectRemoveAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@-o-keyframes selectRemoveAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes selectRemoveAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.loader-loader-1Rxxh:after {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  animation: loader-spin-2JA5R 500ms infinite linear;
  border-color: transparent transparent #fff #fff;
  border: 2px solid #bbb;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
}
@-webkit-keyframes loader-spin-2JA5R {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/