
:global component[name=select] {
  position: relative
}

.dropdown {
  position: absolute
  z-index: 10
  width: 100%
  top: 16px
  background: white
  border-radius: 3px
  list-style: none
  padding: 8px
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.li {
  width: 100%
  color: #444
  padding: 4px
  cursor: default

  &:hover {
    background: #F0F0F0
  }
}

.scroller {
  max-height: 200px
  overflow-y: auto
}

.loaderContainer {
  margin: 10px 0
  display: flex
  justify-content: center
  align-items: center
}


.insertAnimation {
  :global { animation: selectInsertAnimation 200ms ease-out both }
}

@keyframes :global(selectInsertAnimation) {
  from { opacity: 0; transform: translateY(-20px) }
  to { opacity: 1; transform: translateY(0) }
}


.removeAnimation {
  :global { animation: selectRemoveAnimation 150ms ease-out both }
}

@keyframes :global(selectRemoveAnimation) {
  from { opacity: 1; transform: translateY(0) }
  to { opacity: 0; transform: translateY(-20px) }
}