

.link {
  color: #EEE
  display: inline-block
  margin-right: 10px
  text-decoration: initial
  padding: 4px 0
  font-size: 1.2rem
}

.active {
  border-bottom: 2px solid white
  padding-bottom: 1px;
  color: white
}
