
:global component[name=blue] {
  background: #93D4F5
  padding: 12px
  min-height: 400px
}

.increment {
  margin-top: 20px
  margin-bottom: 20px
}

.increment > * {
  margin-right: 10px
}

.red {
  background: #EB6E7B
  margin-top: 12px
  padding: 18px 8px
  color: #EEE
  border-radius: 3px
}
