
:global component[name=blue] {
  background: #6DBDD6;
  padding: 12px;
  min-height: 400px;
}

.increment {
  margin-top: 20px;
  margin-bottom: 20px;
}

.increment > * {
  margin-right: 10px;
}

.red {
  background: #B71427;
  margin-top: 12px;
  padding: 18px 8px;
  color: #EEE;
  border: 1px solid white;
}
