
:global component[name=green] {
  background: #00A072
  margin-top: 12px
  padding: 18px 8px
  color: #EEE
  border-radius: 3px
}

.input {
  margin-top: 6px
  padding: 10px
}

.popupButton {
  margin-top: 30px
}
