

.list {
  list-style: none
  padding-left: 0

  li {
    display: flex
    align-items: center
    margin-bottom: 8px
  }

  li > span {
    width: 10px
    margin-right: 20px
  }

  li > input {
    flex: 1
    padding: 4px
  }

  li > button {
    margin-top: 0
    margin-left: 20px
  }
}
