

.container {
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
}

.overlay {
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.5)
  overflow-y: scroll
  padding-bottom: 40px
  transform: translateZ(0) // Layerize
}

.popup {
  width: 300px
  margin-top: 40px
  margin-left: 22px
  padding: 20px
  border-radius: 4px
  background: pink
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
  transform: translateZ(0) // Layerize
}
