
:global {

  * {
    box-sizing: border-box
  }

  html, body {
    height: 100%
  }

  body {
    color: #333
    overflow-x: hidden
    overflow-y: hidden
    font-family: 'Lato', sans-serif
    background: #F6F6F6
    margin: 0
  }

  component {
    display: block
  }

  header {
    background: #222
    padding: 12px
    color: white
  }

  label {
    display: block
    margin-top: 20px
  }

  input {
    display: block
    width: 100%
    padding: 6px
    padding: 8px
    border-radius: 3px
    border: none
    color: #444
  }

  button {
    display: block
    margin-top: 10px
    cursor: pointer
    padding: 10px 15px
    -webkit-appearance: none
    appearance: none
    box-shadow: none
    border-radius: 3px
    border-style: none
    background: white
  }

  #screens {
    overflow-y: scroll
    height: 100%
    transform: translate3d(0, 0, 0) // Layerize
  }

  component[name=app] {
    max-width: 800px
    margin: 0 auto
  }

}
